<%= render 'shared/header' %>

<div class="main-wrapper container">
  <h2 class="order-index-title">
    <% if @job_category %>
      <%=  @job_category %>の案件はこちらです
    <% else %>
      最新の案件はこちらです
    <% end %>
  </h2>
  <% @orders.each do |order| %>
    <%= render partial: 'order_index', locals: { order: order } %>
  <% end %>
</div>
 
<%= render 'shared/footer' %>